* {
  font-family: "Merriweather", serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 76px;
  line-height: 110px;
}

h2 {
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  padding: 8px 150px;
  box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.08);
}

.nav-bar,
.nav-menu {
  display: flex;
  gap: 60px;
  align-items: center;
}

.contact-us {
  background-color: #020E35;
  color: white;
  padding: 24px 40px;
}

#selected-menu {
  border-bottom: 4px solid #FF5678;
  padding-bottom: 4px;
}

.menu-item {
  padding-bottom: 8px;
}

.Hero-section {
  padding: 300px 150px 200px;
  display: flex;
  justify-content: space-between;
  gap: 480px;
  align-items: center;
}

.See-our-work {
  padding: 24px 40px;
  background-color: #020E35;
  color: white;
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
}

mark {
  background: #FF5678;
  color: white;
  font-weight: 900;
}

.powered-by {
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 511px;
}

.zone-text-poweredby {
  gap: 42px;
}

.text-powered-by {
  font-size: 18px;
  line-height: 23px;
}

.all-btn-powered-by {
  display: flex;
  align-items: center;
  gap: 63px;
  margin-top: 60px;
}

.powered-by-title {
  font-size: 54px;
  line-height: 62px;
  color: #020E35;
  margin-bottom: 42px;
  margin-right: 89px;
  background: linear-gradient(to bottom, transparent 78%, #FF5678 50%);
}

.all-watchvideos {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn-powered-by {
  padding: 24px 40px;
  background-color: #020E35;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
}

.watch-videos {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #2B2B2B;
}

.things-we-enjoy {
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-things-we-enjoy,
.right-side-things-we-enjoy {
  display: flex;
  flex-direction: column;
}

.left-side-things-we-enjoy {
  width: 545px;
  height: 592px;
}

.right-side-things-we-enjoy {
  width: 543px;
  height: 410px;
}

.number-point {
  font-size: 64px;
  line-height: 72px;
  -webkit-text-stroke: 1px #020E35;
  -webkit-text-fill-color: white;
  margin-right: 40px;
  margin-bottom: 38px;
}

.title-things-we-enjoy {
  font-size: 54px;
  line-height: 62px;
  background: linear-gradient(to bottom, transparent 55%, #FF5678 50%);
  width: 457px;
  height: 62px;
  margin-bottom: 120px;
}

.title-number-point {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}

.text-number-point {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.point {
  display: flex;
  margin-bottom: 20px;
}

.text-block-things-we-enjoy {
  padding-top: 8px;
}

.bullet-point {
  width: 545px;
  height: 410px;
  gap: 40px;
}

.illu-pink-circle-things-we-enjoy {
  position: absolute;
  top: 1987.05px;
  left: 0%;
  z-index: -1;
}

.craft-experience {
  padding: 100px 150px;
  justify-content: space-between;
  display: flex;
}

.heading-craft-experience {
  gap: 60px;
  width: 664px;
  height: 503px;
}

.title-craft-experience {
  font-size: 54px;
  line-height: 72px;
  width: 664px;
  height: 216px;
  margin-bottom: 60px;
  position: relative;
}

.title-craft-experience::after {
  content: "";
  position: absolute;
  width: 406px;
  height: 25px;
  left: 0px;
  bottom: 9px;
  background: #FF5678;
  z-index: -1;
}

.text-craft-experience {
  font-size: 18px;
  line-height: 32px;
  width: 481px;
  height: 96px;
  margin-bottom: 60px;
}

.btn-craft-experience {
  padding: 24px 40px;
  gap: 4px;
  background-color: #020E35;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  box-shadow: 0px 20px 40px 5px #00000040;
}

.our-team {
  padding: 100px 150px;
  gap: 104px;
}

.title-our-team {
  font-size: 54px;
  line-height: 72px;
  justify-content: space-around;
  display: flex;
  position: relative;
  margin-bottom: 104px;
}

.title-our-team::after {
  content: "";
  position: absolute;
  width: 415px;
  height: 25px;
  left: 600px;
  bottom: 9px;
  background: #FF5678;
  z-index: -1;
}

.content-our-team {
  width: 1620px;
  height: 1109px;
}

.top-block-our-team {
  display: inline-grid;
  grid-template-columns: 519px 539px 519px;
  gap: 19px;
  margin-bottom: 51px;
  text-align: center;
}

.bottom-block-our-team {
  display: inline-grid;
  grid-template-columns: 519px 519px 519px;
  gap: 32px;
  text-align: center;
}

.block-our-team {
  width: 519px;
  height: 519px;
  border: 1px solid #B8B8B8;
  border-radius: 50px;

}

.block-mark-our-team {
  width: 539px;
  height: 539px;
  border: 1px solid #B8B8B8;
  border-radius: 50px;
  box-shadow: 0px 20px 40px 5px #00000026;
}

.photo-our-team {
  margin-top: 88px;
  margin-bottom: 60px;
}

.name-our-team-title {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 36px;
}

.name-our-team-text {
  font-size: 18px;
  line-height: 23px;
}

.photo-our-team-mark {
  margin-top: 74.5px;
  margin-bottom: 60px;
}

.name-our-team-post {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 24px;
}