  * {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;

  }

  h1 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 76px;
    line-height: 110px;
  }

  h2 {
    font-family: "Merriweather", serif;
    font-weight: 700;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 8px 20px 5px #00000014;

  }

  .nav-bar {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: 60px;
  }

  .contact-us {
    background-color: #020E35;
    color: white;
    padding-left: 40px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    gap: 4px;
  }

  .logo {
    gap: 4px;
  }

  #selected-menu {
    border-bottom: 4px solid #FF5678;
    padding-bottom: 4px;
  }

  .menu-item {
    box-sizing: border-box;
    padding-bottom: 8px;
  }

  .Hero-section {
    padding: 300px 150px 200px 150px;
    align-items: center;
    display: flex;
    gap: 480px;
    justify-content: space-between;
  }

  .Heading {
    gap: 56px;
  }

  .logo-icetea {
    padding: 4px 0px 4px 4px;
    gap: 4px;
  }

  .See-our-work {
    padding: 24px 40px;
    background-color: #020E35;
    color: white;
    box-shadow: 0px 20px 40px 5px #00000040;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
  }

  mark {
    background: #FF5678;
    color: white;
    font-weight: 900;
  }

  .powered-by {
    padding: 100px 150px 100px 150px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 511px;
  }

  .kitchen {
    padding: 4px 0px 4px 4px;
    gap: 4px;
  }

  .content {
    gap: 60px;
  }

  .zone-text-poweredby {
    gap: 42px;
  }

  .text-powered-by {
    font-size: 18px;
    line-height: 23px;
  }

  .all-btn-powered-by {
    gap: 63px;
    margin-top: 60px;
    display: flex;
    align-items: center;
  }

  .powered-by-title {
    font-size: 54px;
    line-height: 62px;
    color: #020E35;
    margin-bottom: 42px;
    margin-right: 89px;
    background: linear-gradient(to bottom, transparent 75%, #FF5678 50%);
  }

  .all-watchvideos {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .btn-powered-by {
    padding: 24px 40px;
    gap: 63px;
    background-color: #020E35;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
  }

  .watch-videos {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #2B2B2B;

  }